<h1>Create New Article</h1>

<% if @article.errors.any? %>

  <h2>Correct the following errors to submit article</h2>
  <ul>

  <% @article.errors.full_messages.each do |message| %>

    <li style="color:red;"><%= message %></li>

  <% end %>

  </ul>

<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Return to Articles Directory', articles_path %>
