<h1 class="text-center mt-4"><%= @article.title%></h1>

<%= render 'layouts/messages' %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">

          <% if @article.user %>
            by <%= link_to @article.user.username, user_path(@article.user) %>
          <% end %>

          <% if @article.categories.any? %>

            <div class="mt-2">
              <%= render @article.categories %>
            </div>

          <% end %>

        </div>
        <div class="card-body">
          <div class="card-text text-left">
            <%= simple_format(@article.description) %>
          </div>

          <% if logged_in? and (@article.user == current_user or current_user.admin?) %>

            <%= link_to t('.edit_button'), edit_article_path(@article.id), class: "button_style" %>
            <%= link_to t('.delete_button'), article_path(@article.id), method: :delete, data: { confirm: t('.confirm_text') }, class: "button_style" %>

          <% end %>

        </div>
        <div class="card-footer text-muted">
          <small>
            <%= t('.created_text') %> <%= time_ago_in_words(@article.created_at) %> <%= t('.ago_text') %>, <%= t('.edited_text') %> <%= time_ago_in_words(@article.updated_at) %> <%= t('.ago_text') %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
