<div class="container">
  <div class="row justify-content-center mb-4 frame">
    <div class="col-12">

      <%= render 'shared/validations', object: @user %>
      <%= form_with(model: @user, local: true) do |f| %>

      <div class="form-group row">

        <%= f.label :username, "Name*", class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.text_field :username, class: "form-control", placeholder: "Enter a Username" %>
        </div>
      </div>
      <div class="form-group row">

        <%= f.label :email, "Email*", class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.email_field :email, class: "form-control", placeholder: "Enter your Email" %>

        </div>
      </div>
      <div class="form-group row">

        <%= f.label :password, "Password*", class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.password_field :password, class: "form-control", placeholder: "Choose a Password" %>

        </div>
      </div>
      <div class="form-group row justify-content-center">

        <%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "button_style") %>

        <div class="col-2">

          <%= link_to "Cancel", @user.new_record? ? root_path : users_path, class: "button_style" %>

        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
