<div class="container">
  <div class="row justify-content-center mb-4 frame">
    <div class="col-12">

      <%= render 'shared/validations', object: @user %>
      <%= form_with(model: @user, local: true) do |f| %>

      <div class="form-group row">

        <%= f.label :username, t('.name_label'), class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.text_field :username, class: "form-control", placeholder: t('.name_placeholder') %>
        </div>
      </div>
      <div class="form-group row">

        <%= f.label :email, t('.email_label'), class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.email_field :email, class: "form-control", placeholder: t('.email_placeholder') %>

        </div>
      </div>
      <div class="form-group row">

        <%= f.label :password, t('.password_label'), class: "col-2 col-form-label" %>

        <div class="col-10">

          <%= f.password_field :password, class: "form-control", placeholder: t('.password_placeholder') %>

        </div>
      </div>

      <% if @user.new_record? %>

        <div class="form-group row">

          <div class="col-12 justify-content-end d-flex">

            <%= recaptcha_tags %>

          </div>

        </div>

      <% end %>

      <div class="form-group row justify-content-center">

        <%= f.submit(@user.new_record? ? t('.sign_up_button') : t('.update_account_button'), class: "button_style") %>

        <div class="col-2">

          <%= link_to t('.cancel_button'), @user.new_record? ? root_path : users_path, class: "button_style" %>

        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
