<h1 class="text-center mt-4"> <%= t('.page_title') %> <%= @user.username %> </h1>

<%= render 'layouts/messages' %>

<div class="text-center mt-4 mb-4">

  <% if logged_in? and (@user == current_user or current_user.admin?) %>
      <%= link_to t('.edit_profile_button'), edit_user_path(@user), class: "button_style" %>
      <%= link_to t('.delete_profile_button'), user_path(@user), class: "button_warn_style", method: :delete, data: {confirm: t('.delete_confirm_message')} %>
  <% end %>

</div>

<div class="flickr_pagination mb-4">

    <%= will_paginate @articles, :container => false %>

</div>

<%= render 'articles/article_list' %>

<div class="flickr_pagination mb-4">

    <%= will_paginate @articles, :container => false %>

</div>
