<h1 class="text-center mt-4"> <%= t('.page_title') %> </h1>
<div class="container">
  <p> <%= t('.about_text') %> </p>
  <ul>
    <li> <%= t('.list_authentication') %> </li>
    <li> <%= t('.list_localization') %> </li>
    <li> <%= t('.list_recaptcha') %> </li>
  </ul>
</div>
